.questions-and-answers {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .question-and-answer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 0px solid #c3c3c3;
    background-color: var(--mat-app-background-color);
    padding: 16px;
    border-radius: 16px;

    .question {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .question-and-answer:hover {
    background-color: var(
      --mdc-filled-text-field-container-color,
      var(--mat-app-surface-variant)
    );
  }
}
