<div class="body">
  <app-menu-icon class="menu-icon"></app-menu-icon>
  <app-menu></app-menu>
  <div class="main-content">
    <app-header [logOut]="logOut.bind(this)"></app-header>
    <div class="container">
      <div class="main">
        <div class="header">
          <h1>{{ title() }}</h1>
          <div class="spacer"></div>
          <div class="actions">
            <button mat-flat-button color="primary" (click)="token()">
              <mat-icon class="material-symbols-rounded">add</mat-icon>
              Agregar
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="content">
          <router-outlet />
        </div>
      </div>
    </div>
  </div>
</div>
