.body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--mat-app-background-color);
  }

  .menu-icon {
    z-index: 10;
    background-color: var(--mat-menu-item-hover-state-layer-color);
  }

  .menu {
    background-color: var(--mat-select-panel-background-color);
  }

  .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 12;

    .container {
      display: flex;
      flex-direction: row;

      .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 16px;

        .title {
          display: flex;

          h1 {
            font-size: 24px;
            font-weight: 500;
            margin: 0;
            margin-bottom: 16px;
          }

          .spacer {
            flex-grow: 1;
          }
        }

        .content {
          width: 100%;
          // height: calc(100vh - (160px + 16px));
          // overflow: auto;
          padding-top: 16px;
          padding-bottom: 16px;
        }
      }
    }
  }
}

.blur-effect {
  filter: blur(4px);
}
