.body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--mat-app-background-color);
  }

  .menu-icon {
    z-index: 10;
    background-color: var(--mat-menu-item-hover-state-layer-color);
  }

  .menu {
    background-color: var(--mat-select-panel-background-color);
  }

  .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 12;

    .container {
      display: flex;
      flex-direction: row;

      .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 16px;

        .title {
          div {
            display: flex;
            h1 {
              font-size: 24px;
              font-weight: 500;
              margin: 0;
              margin-bottom: 16px;
            }

            .spacer {
              flex-grow: 1;
            }

            .actions {
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              align-items: center;

              button {
                margin-left: 16px;
              }
            }
          }
        }

        .full-viewport {
          position: sticky;
          top: 0px;
          z-index: 10;
          padding-top: 16px;
          background-color: var(--mat-app-background-color);
        }

        .content {
          width: 100%;
          padding-top: 16px;
          padding-bottom: 16px;
        }
      }
    }

    .full-viewport-content {
      padding-top: 0px !important;
    }
  }
}

.blur-effect {
  filter: blur(4px);
  transition: filter 150ms ease-in-out;
}

.no-blur-effect {
  filter: blur(0px);
  transition: filter 250ms ease-in-out;
}
