.menu {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 300px;

  a[mat-button],
  button[mat-button] {
    justify-content: start;
    color: var(--mdc-icon-button-icon-color);
  }

  a,
  button {
    justify-content: start;
  }
}

.hidden {
  display: none;
}
