<form autocomplete="off" [formGroup]="form()">
  @for (field of info(); track $index) {
    @switch (field.type) {
      @case(typeInput.HIDDEN) {
        <input type="hidden" name="{{ field.field }}" [formGroupName]="field.field" />
      } @case (typeInput.SELECT) {
        <mat-form-field class="width-100 margin-bottom-5">
          <mat-label>{{ field.label }}</mat-label>
          <mat-select
            [formControlName]="field.field"
            (selectionChange)="selectionChange(field, $event.value, this.form)"
          >
          @if (field?.loadOptions | async; as options) {
            @for (option of options(); track $index) {
              <mat-option [value]="getOptionValue(option)">
                {{ getOptionLabel(option) }}
              </mat-option>
            }
          }
          </mat-select>
          <mat-icon class="material-symbols-rounded" matSuffix>{{ field.icon }}</mat-icon>
          @if (this.form().invalid) {
            <mat-error>{{ errorMessage(field) }}</mat-error>
          }
        </mat-form-field>
      } @case(typeInput.SLIDE_TOGGLE) {
        <div class="width-100 margin-bottom-5">
          <mat-slide-toggle labelPosition="before" [formControlName]="field.field">
            {{ field.label }}
          </mat-slide-toggle>
        </div>
      } @case(typeInput.TEXTAREA) {
        <mat-form-field class="width-100 margin-bottom-5">
          <mat-label>{{ field.label }}</mat-label>
          <textarea
            matInput
            type="{{ field.type }}"
            name="{{ field.field }}"
            [formControlName]="field.field"
            placeholder="{{ field.placeholder }}"
            rows="3"
          ></textarea>
          <mat-icon class="material-symbols-rounded" matSuffix>{{ field.icon }}</mat-icon>
          @if (this.form().invalid) {
            <mat-error>{{ errorMessage(field) }}</mat-error>
          }
        </mat-form-field>
      } @case (typeInput.NUMBER) {
        <mat-form-field class="width-100 margin-bottom-5">
          <mat-label>{{ field.label }}</mat-label>
          <input
            matInput
            type="{{ field.type }}"
            name="{{ field.field }}"
            [formControlName]="field.field"
            placeholder="{{ field.placeholder }}"
            min="{{ field.options?.['min'] }}"
            max="{{ field.options?.['max'] }}"
            step="{{ field.options?.['step'] }}"
          />
          <mat-icon class="material-symbols-rounded" matSuffix>{{ field.icon }}</mat-icon>
          @if (this.form().invalid) {
            <mat-error>{{ errorMessage(field) }}</mat-error>
          }
        </mat-form-field>
      } @case (typeInput.AUTOCOMPLETE) {
        <app-autocomplete
          [field]="field"
          [form]="form"
          [errorMessage]="errorMessage"
          ngDefaultControl
        ></app-autocomplete>
      } @case (typeInput.DATE) {
        <app-date-picker
          [field]="field"
          [form]="form"
          [errorMessage]="errorMessage"
          ngDefaultControl
        ></app-date-picker>
      } @default {
        <mat-form-field class="width-100 margin-bottom-5">
          <mat-label>{{ field.label }}</mat-label>
          <input
            matInput
            type="{{ field.type }}"
            name="{{ field.field }}"
            [formControlName]="field.field"
            placeholder="{{ field.placeholder }}"
          />
          <mat-icon class="material-symbols-rounded" matSuffix>{{ field.icon }}</mat-icon>
          @if (this.form().invalid) {
            <mat-error>{{ errorMessage(field) }}</mat-error>
          }
        </mat-form-field>
      }
    }
  }
</form>
