.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  app-table {
    min-width: fit-content;
    width: fit-content;
    max-width: 100%;
  }
}

::ng-deep .custom-snack-bar {
  padding-bottom: 30px;
}
