table {
  width: 100%;
}

mat-row:hover {
  background-color: var(--mat-option-selected-state-layer-color);
}

mat-header-cell {
  justify-content: center;
}

mat-cell[class*="mat-column-Acciones"],
mat-cell[class*="mat-column-Estado"],
mat-cell[class*="mat-column-Peso"],
mat-cell[class*="mat-column-Posici-n"],
mat-cell[class*="mat-column-Valor"],
mat-cell[class*="mat-column-Tipo-de-documento"] {
  justify-content: center;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
