<mat-table [dataSource]="dataSource()">
  @for (column of displayedColumns(); track $index) {
  <ng-container matColumnDef="{{ column }}">
    <mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
    <mat-cell *matCellDef="let element">
      @if (isActionColumn(element, $index)) {
        @for (action of getArrayActions(element, $index); track $index) {
          @if (
            action.tooltip.toLowerCase() !== 'estado'
            && action.tooltip.toLowerCase() !== 'status'
          ) {
            <button
              mat-icon-button
              (click)="handleAction($event, action)"
              [ngxTippy]="action.tooltip"
              [tippyClassName]="customClassTooltip"
              [tippyProps]="tooltipsProps"
            >
              <mat-icon class="material-symbols-rounded">
                {{ action.icon }}
              </mat-icon>
            </button>
          }
        }
      } @else {
        @if (
          column.toLowerCase() === 'estado' || column.toLowerCase() === 'status'
        ) {
          <mat-slide-toggle
            color="primary"
            [checked]="getElementColumn(element, $index)"
            [ngxTippy]="
              getElementColumn(element, $index) ? 'Deshabilitar' : 'Habilitar'
            "
            [tippyClassName]="customClassTooltip"
            [tippyProps]="tooltipsProps"
            (change)="handleStatusChange(element.actions)"
          >
          </mat-slide-toggle>
        } @else {
          <span
            class="text-ellipsis"
            [ngxTippy]="getTextForTooltip(element, $index)"
            [tippyClassName]="customClassTooltip"
            [tippyProps]="tooltipsProps"
          >
            {{ getElementColumn(element, $index) }}
          </span>
        }
      }
    </mat-cell>
  </ng-container>
  }
  <mat-header-row *matHeaderRowDef="displayedColumns()"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns()"></mat-row>
</mat-table>

<mat-paginator
  [length]="paginator().length"
  [pageSize]="paginator().pageSize"
  [pageIndex]="paginator().pageIndex"
  [pageSizeOptions]="paginator().pageSizeOptions"
  [showFirstLastButtons]="paginator().showFirstLastButtons"
  (page)="handlePageEvent($event)"
>
</mat-paginator>
